@use "commons/shadow";

nav {
  position: fixed;
  z-index: 999999999;
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  background: linear-gradient(#4d47ff 0%, #43b4ff 120%);
  @extend %shadow-excluding-top;
}

nav > svg {
  height: 40px;
  margin: 0 30px;
}