.progress-bar {
  position: fixed;
  top: 72px;
  width: 100%;
  height: 5px;
  overflow: hidden;
  z-index: 200;

  & > .line {
    position: absolute;
    background: #4898F5;
    opacity: 0.5;
    width: 100%;
    height: 5px;
  }

  & > .subline {
    position: absolute;
    background: #2088FF;
    height: 5px;

    &.inc {
      animation: increase 2s infinite;
    }

    &.dec {
      animation: decrease 2s 0.5s infinite;
    }
  }

  @keyframes increase {
    from {
      left: -5%;
      width: 5%;
    }
    to {
      left: 110%;
      width: 100%;
    }
  }

  @keyframes decrease {
    from {
      left: -80%;
      width: 80%;
    }
    to {
      left: 110%;
      width: 10%;
    }
  }
}